#container.terracotta {
  color: #f4ffff;
  background-color: #ee3e41;
  font-family: Georgia;
}
#container.terracotta a:link {
  color: #ffb7a7;
  text-decoration: underline;
}
#container.terracotta a:visited {
  color: #ffb7a7;
  text-decoration: underline;
}
#container.terracotta a:hover {
  color: #f4ffff;
  text-decoration: none;
}
#container.terracotta a:active {
  color: #f4ffff;
  text-decoration: none;
  position: relative;
  top: 1px;
}
#container.terracotta footer#footer {
  background-color: #f4ffff;
  color: #060054;
  border-top: 4px solid #060054;
}
#container.terracotta footer#footer a:link {
  color: #ee3e41;
  text-decoration: underline;
}
#container.terracotta footer#footer a:visited {
  color: #ee3e41;
  text-decoration: underline;
}
#container.terracotta footer#footer a:hover {
  color: #060054;
  text-decoration: none;
}
#container.terracotta footer#footer a:active {
  color: #060054;
  position: relative;
  top: 1px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: .5em 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  position: relative;
  top: 1px;
}

p {
  line-height: 1.5em;
  margin: 1em 0;
}

header#header, nav#primary-navigation, #main, footer#footer {
  *zoom: 1;
  max-width: 98%;
  _width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: auto;
  margin-right: auto;
}
header#header:after, nav#primary-navigation:after, #main:after, footer#footer:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 148%) {
  header#header, nav#primary-navigation, #main, footer#footer {
    max-width: 148%;
  }
}
@media (min-width: 760px) {
  header#header, nav#primary-navigation, #main, footer#footer {
    max-width: 298%;
  }
}

header#header {
  clear: both;
}
header#header h1 {
  margin-top: 0;
}

nav#primary-navigation {
  clear: both;
}
nav#primary-navigation ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
nav#primary-navigation ul li {
  display: inline;
}
nav#primary-navigation ul li a:link {
  text-decoration: none !important;
}
nav#primary-navigation ul li a:visited {
  text-decoration: none !important;
}
nav#primary-navigation ul li a:hover {
  text-decoration: none !important;
}
nav#primary-navigation ul li a:active {
  position: relative;
  top: 1px;
}

aside#sidebar {
  text-align: center;
}

footer#footer {
  clear: both;
  display: block;
}
footer#footer .copyright {
  text-align: left;
  width: 48.97959%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
}
footer#footer .credit {
  text-align: right;
  width: 48.97959%;
  float: right;
  margin-right: 0;
  *margin-left: -2%;
  display: inline;
}

@media (min-width: 760px) {
  article {
    width: 66.44295%;
    float: left;
    margin-right: 0.67114%;
  }

  aside#sidebar {
    padding-left: 3.85906%;
    width: 29.02685%;
    float: right;
    margin-right: 0;
  }

  footer#footer .copyright {
    width: 49.66443%;
    float: left;
    margin-right: 0.67114%;
  }
  footer#footer .credit {
    width: 49.66443%;
    float: right;
    margin-right: 0;
  }
}
