body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: .5em 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  position: relative;
  top: 1px;
}

p {
  line-height: 1.5em;
  margin: 1em 0;
}

header#header, nav#primary-navigation, #main, footer#footer {
  *zoom: 1;
  max-width: 98%;
  _width: 98%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: auto;
  margin-right: auto;
}
header#header:after, nav#primary-navigation:after, #main:after, footer#footer:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 148%) {
  header#header, nav#primary-navigation, #main, footer#footer {
    max-width: 148%;
  }
}
@media (min-width: 760px) {
  header#header, nav#primary-navigation, #main, footer#footer {
    max-width: 298%;
  }
}

header#header {
  clear: both;
}
header#header h1 {
  margin: 0;
  padding: 20px 0;
}
header#header h1 img {
  max-height: 300px;
  max-width: 100%;
}

nav#primary-navigation {
  clear: both;
  font-size: 1.5em;
  line-height: 2em;
}
nav#primary-navigation ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height: 1.25em;
}
nav#primary-navigation ul li {
  display: inline-block;
  white-space: nowrap;
  padding: 20px 0 0 0;
}
nav#primary-navigation ul li a {
  padding: 0 10px 0 2px;
}
nav#primary-navigation ul li a:link {
  text-decoration: none !important;
}
nav#primary-navigation ul li a:visited {
  text-decoration: none !important;
}
nav#primary-navigation ul li a:hover {
  text-decoration: none !important;
}
nav#primary-navigation ul li a:active {
  position: relative;
  top: 1px;
}

#main {
  width: 83.10811%;
  float: right;
  margin-right: 0;
  *margin-left: -2%;
  display: inline;
  padding-left: 7.77027%;
  padding-right: 7.77027%;
  margin-bottom: 40px;
}
#main ul {
  list-style-type: square;
}
#main aside#sidebar {
  margin-top: 16px;
  font-size: 14px;
  text-align: justify;
}
#main aside#sidebar div {
  margin-bottom: 40px;
}
#main aside#sidebar p.elect-donate-jump, #main aside#sidebar p.elect-newsletter-jump {
  text-align: center;
}
#main aside#sidebar p.elect-donate-jump a:link, #main aside#sidebar p.elect-newsletter-jump a:link {
  text-decoration: none;
}
#main aside#sidebar p.elect-donate-jump a:visited, #main aside#sidebar p.elect-newsletter-jump a:visited {
  text-decoration: none;
}
#main aside#sidebar p.elect-donate-jump a:hover, #main aside#sidebar p.elect-newsletter-jump a:hover {
  text-decoration: none;
}
#main aside#sidebar p.elect-donate-jump a:active, #main aside#sidebar p.elect-newsletter-jump a:active {
  position: relative;
  top: 1px;
}

footer#footer {
  font-size: 12px;
  clear: both;
  display: block;
}
footer#footer .copyright {
  text-align: left;
  width: 48.97959%;
  float: left;
  margin-right: 2.04082%;
  display: inline;
}
footer#footer .credit {
  text-align: right;
  width: 48.97959%;
  float: right;
  margin-right: 0;
  *margin-left: -2%;
  display: inline;
}

@media (min-width: 760px) {
  #main {
    float: none;
    width: auto;
    margin-right: auto;
  }

  #container.sideright #main article {
    width: 62.58389%;
    float: left;
    margin-right: 0.67114%;
    padding-left: 3.85906%;
  }

  #container.sideright #main aside#sidebar {
    padding-left: 3.85906%;
    padding-right: 3.85906%;
    width: 24.49664%;
    float: right;
    margin-right: 0;
    text-align: center;
  }

  #container.sideleft #main article {
    width: 62.58389%;
    float: right;
    margin-right: 0;
    padding-right: 3.85906%;
  }

  #container.sideleft #main aside#sidebar {
    width: 24.49664%;
    float: left;
    margin-right: 0.67114%;
    padding-left: 3.85906%;
    padding-right: 3.85906%;
    text-align: center;
  }

  footer#footer .copyright {
    width: 49.66443%;
    float: left;
    margin-right: 0.67114%;
  }
  footer#footer .credit {
    width: 49.66443%;
    float: right;
    margin-right: 0;
  }
}
#container.terracotta {
  color: #060054;
  font-family: Georgia, Times, "Times New Roman", serif;
}
#container.terracotta a:link {
  color: #ee3e41;
  text-decoration: underline;
}
#container.terracotta a:visited {
  color: #ee3e41;
  text-decoration: underline;
}
#container.terracotta a:hover {
  color: #f69c9d;
  text-decoration: none;
}
#container.terracotta a:active {
  color: #f69c9d;
  text-decoration: none;
  position: relative;
  top: 1px;
}
#container.terracotta header#header, #container.terracotta nav#primary-navigation {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  background-color: #ee3e41;
}
#container.terracotta header#header a:link, #container.terracotta nav#primary-navigation a:link {
  color: #f4ffff;
  text-decoration: none;
}
#container.terracotta header#header a:visited, #container.terracotta nav#primary-navigation a:visited {
  color: #f4ffff;
  text-decoration: none;
}
#container.terracotta header#header a:hover, #container.terracotta nav#primary-navigation a:hover {
  color: #ffb7a7;
  text-decoration: none;
}
#container.terracotta header#header a:active, #container.terracotta nav#primary-navigation a:active {
  color: #ffb7a7;
  position: relative;
  top: 1px;
}
#container.terracotta nav#primary-navigation {
  border-bottom: 4px solid #060054;
}
#container.terracotta #main h1, #container.terracotta #main h2, #container.terracotta #main h3, #container.terracotta #main h4, #container.terracotta #main h5, #container.terracotta #main h6 {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}
#container.terracotta #main aside#sidebar p.elect-donate-jump a, #container.terracotta #main aside#sidebar p.elect-newsletter-jump a, #container.terracotta #main aside#sidebar p.elect-cta-jump a {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-size: 24px;
  padding: 0.5em 1em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF69C9D', endColorstr='#FFEE3E41');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f69c9d), color-stop(100%, #ee3e41));
  background: -webkit-linear-gradient(#f69c9d, #ee3e41);
  background: -moz-linear-gradient(#f69c9d, #ee3e41);
  background: -o-linear-gradient(#f69c9d, #ee3e41);
  background: linear-gradient(#f69c9d, #ee3e41);
  -webkit-box-shadow: #fce2e3 0 1px 0 inset;
  -moz-box-shadow: #fce2e3 0 1px 0 inset;
  box-shadow: #fce2e3 0 1px 0 inset;
  border: 1px solid #ec272a;
  color: white;
  text-shadow: #db1317 0 -1px 0;
  text-shadow: 1px 1px 1px #000;
}
#container.terracotta #main aside#sidebar p.elect-donate-jump a:hover, #container.terracotta #main aside#sidebar p.elect-newsletter-jump a:hover, #container.terracotta #main aside#sidebar p.elect-cta-jump a:hover {
  text-decoration: none;
}
#container.terracotta #main aside#sidebar p.elect-donate-jump a:hover, #container.terracotta #main aside#sidebar p.elect-newsletter-jump a:hover, #container.terracotta #main aside#sidebar p.elect-cta-jump a:hover {
  background-color: #ec272a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f48486), color-stop(100%, #ec272a));
  background: -webkit-linear-gradient(#f48486, #ec272a);
  background: -moz-linear-gradient(#f48486, #ec272a);
  background: -o-linear-gradient(#f48486, #ec272a);
  background: linear-gradient(#f48486, #ec272a);
}
#container.terracotta #main aside#sidebar p.elect-donate-jump a:active, #container.terracotta #main aside#sidebar p.elect-newsletter-jump a:active, #container.terracotta #main aside#sidebar p.elect-cta-jump a:active {
  -webkit-box-shadow: #eb191c 0 1px 2px inset;
  -moz-box-shadow: #eb191c 0 1px 2px inset;
  box-shadow: #eb191c 0 1px 2px inset;
}
#container.terracotta #main aside#sidebar p.elect-donate-jump a.disabled, #container.terracotta #main aside#sidebar p.elect-donate-jump a[disabled], #container.terracotta #main aside#sidebar p.elect-newsletter-jump a.disabled, #container.terracotta #main aside#sidebar p.elect-newsletter-jump a[disabled], #container.terracotta #main aside#sidebar p.elect-cta-jump a.disabled, #container.terracotta #main aside#sidebar p.elect-cta-jump a[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #ee3e41;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#container.terracotta #main aside#sidebar p.elect-donate-jump a::-moz-focus-inner, #container.terracotta #main aside#sidebar p.elect-newsletter-jump a::-moz-focus-inner, #container.terracotta #main aside#sidebar p.elect-cta-jump a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
#container.terracotta footer#footer {
  background-color: #f4ffff;
  color: #060054;
  border-top: 4px solid #060054;
  border-bottom: 4px solid #060054;
}
#container.terracotta footer#footer a:link {
  color: #ee3e41;
  text-decoration: none;
}
#container.terracotta footer#footer a:visited {
  color: #ee3e41;
  text-decoration: none;
}
#container.terracotta footer#footer a:hover {
  color: #060054;
  text-decoration: none;
}
#container.terracotta footer#footer a:active {
  color: #060054;
  position: relative;
  top: 1px;
}

#container.greenleaf {
  color: #323449;
  font-family: Georgia, Times, "Times New Roman", serif;
}
#container.greenleaf a:link {
  color: #323449;
  text-decoration: underline;
}
#container.greenleaf a:visited {
  color: #323449;
  text-decoration: underline;
}
#container.greenleaf a:hover {
  color: #5b5f86;
  text-decoration: none;
}
#container.greenleaf a:active {
  color: #5b5f86;
  text-decoration: none;
  position: relative;
  top: 1px;
}
#container.greenleaf header#header, #container.greenleaf nav#primary-navigation {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #323449;
}
#container.greenleaf header#header a:link, #container.greenleaf nav#primary-navigation a:link {
  color: #f9f9f9;
  text-decoration: none;
}
#container.greenleaf header#header a:visited, #container.greenleaf nav#primary-navigation a:visited {
  color: #f9f9f9;
  text-decoration: none;
}
#container.greenleaf header#header a:hover, #container.greenleaf nav#primary-navigation a:hover {
  color: #010549;
  text-decoration: none;
}
#container.greenleaf header#header a:active, #container.greenleaf nav#primary-navigation a:active {
  color: #010549;
  position: relative;
  top: 1px;
}
#container.greenleaf nav#primary-navigation {
  border-bottom: 4px solid #323449;
}
#container.greenleaf #main h1, #container.greenleaf #main h2, #container.greenleaf #main h3, #container.greenleaf #main h4, #container.greenleaf #main h5, #container.greenleaf #main h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#container.greenleaf #main aside#sidebar p.elect-donate-jump a, #container.greenleaf #main aside#sidebar p.elect-newsletter-jump a, #container.greenleaf #main aside#sidebar p.elect-cta-jump a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 0.5em 1em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF5B5F86', endColorstr='#FF323449');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b5f86), color-stop(100%, #323449));
  background: -webkit-linear-gradient(#5b5f86, #323449);
  background: -moz-linear-gradient(#5b5f86, #323449);
  background: -o-linear-gradient(#5b5f86, #323449);
  background: linear-gradient(#5b5f86, #323449);
  -webkit-box-shadow: #8387aa 0 1px 0 inset;
  -moz-box-shadow: #8387aa 0 1px 0 inset;
  box-shadow: #8387aa 0 1px 0 inset;
  border: 1px solid #28293a;
  color: white;
  text-shadow: #191a25 0 -1px 0;
  text-shadow: 1px 1px 1px #000;
}
#container.greenleaf #main aside#sidebar p.elect-donate-jump a:hover, #container.greenleaf #main aside#sidebar p.elect-newsletter-jump a:hover, #container.greenleaf #main aside#sidebar p.elect-cta-jump a:hover {
  text-decoration: none;
}
#container.greenleaf #main aside#sidebar p.elect-donate-jump a:hover, #container.greenleaf #main aside#sidebar p.elect-newsletter-jump a:hover, #container.greenleaf #main aside#sidebar p.elect-cta-jump a:hover {
  background-color: #28293a;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #515476), color-stop(100%, #28293a));
  background: -webkit-linear-gradient(#515476, #28293a);
  background: -moz-linear-gradient(#515476, #28293a);
  background: -o-linear-gradient(#515476, #28293a);
  background: linear-gradient(#515476, #28293a);
}
#container.greenleaf #main aside#sidebar p.elect-donate-jump a:active, #container.greenleaf #main aside#sidebar p.elect-newsletter-jump a:active, #container.greenleaf #main aside#sidebar p.elect-cta-jump a:active {
  -webkit-box-shadow: #212331 0 1px 2px inset;
  -moz-box-shadow: #212331 0 1px 2px inset;
  box-shadow: #212331 0 1px 2px inset;
}
#container.greenleaf #main aside#sidebar p.elect-donate-jump a.disabled, #container.greenleaf #main aside#sidebar p.elect-donate-jump a[disabled], #container.greenleaf #main aside#sidebar p.elect-newsletter-jump a.disabled, #container.greenleaf #main aside#sidebar p.elect-newsletter-jump a[disabled], #container.greenleaf #main aside#sidebar p.elect-cta-jump a.disabled, #container.greenleaf #main aside#sidebar p.elect-cta-jump a[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #323449;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#container.greenleaf #main aside#sidebar p.elect-donate-jump a::-moz-focus-inner, #container.greenleaf #main aside#sidebar p.elect-newsletter-jump a::-moz-focus-inner, #container.greenleaf #main aside#sidebar p.elect-cta-jump a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
#container.greenleaf footer#footer {
  background-color: #f9f9f9;
  color: #323449;
  border-top: 4px solid #323449;
  border-bottom: 4px solid #323449;
}
#container.greenleaf footer#footer a:link {
  color: #323449;
  text-decoration: none;
}
#container.greenleaf footer#footer a:visited {
  color: #323449;
  text-decoration: none;
}
#container.greenleaf footer#footer a:hover {
  color: #323449;
  text-decoration: none;
}
#container.greenleaf footer#footer a:active {
  color: #323449;
  position: relative;
  top: 1px;
}

#container.victory1 {
  color: #003366;
  font-family: Georgia, Times, "Times New Roman", serif;
}
#container.victory1 a:link {
  color: #ff0a0b;
  text-decoration: underline;
}
#container.victory1 a:visited {
  color: #ff0a0b;
  text-decoration: underline;
}
#container.victory1 a:hover {
  color: #ff7071;
  text-decoration: none;
}
#container.victory1 a:active {
  color: #ff7071;
  text-decoration: none;
  position: relative;
  top: 1px;
}
#container.victory1 header#header, #container.victory1 nav#primary-navigation {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ff0a0b;
}
#container.victory1 header#header a:link, #container.victory1 nav#primary-navigation a:link {
  color: white;
  text-decoration: none;
}
#container.victory1 header#header a:visited, #container.victory1 nav#primary-navigation a:visited {
  color: white;
  text-decoration: none;
}
#container.victory1 header#header a:hover, #container.victory1 nav#primary-navigation a:hover {
  color: #f7f7ba;
  text-decoration: none;
}
#container.victory1 header#header a:active, #container.victory1 nav#primary-navigation a:active {
  color: #f7f7ba;
  position: relative;
  top: 1px;
}
#container.victory1 nav#primary-navigation {
  border-bottom: 4px solid #003366;
}
#container.victory1 #main h1, #container.victory1 #main h2, #container.victory1 #main h3, #container.victory1 #main h4, #container.victory1 #main h5, #container.victory1 #main h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#container.victory1 #main aside#sidebar p.elect-donate-jump a, #container.victory1 #main aside#sidebar p.elect-newsletter-jump a, #container.victory1 #main aside#sidebar p.elect-cta-jump a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 0.5em 1em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFF7071', endColorstr='#FFFF0A0B');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff7071), color-stop(100%, #ff0a0b));
  background: -webkit-linear-gradient(#ff7071, #ff0a0b);
  background: -moz-linear-gradient(#ff7071, #ff0a0b);
  background: -o-linear-gradient(#ff7071, #ff0a0b);
  background: linear-gradient(#ff7071, #ff0a0b);
  -webkit-box-shadow: #ffbdbd 0 1px 0 inset;
  -moz-box-shadow: #ffbdbd 0 1px 0 inset;
  box-shadow: #ffbdbd 0 1px 0 inset;
  border: 1px solid #f00001;
  color: white;
  text-shadow: #cc0001 0 -1px 0;
  text-shadow: 1px 1px 1px #000;
}
#container.victory1 #main aside#sidebar p.elect-donate-jump a:hover, #container.victory1 #main aside#sidebar p.elect-newsletter-jump a:hover, #container.victory1 #main aside#sidebar p.elect-cta-jump a:hover {
  text-decoration: none;
}
#container.victory1 #main aside#sidebar p.elect-donate-jump a:hover, #container.victory1 #main aside#sidebar p.elect-newsletter-jump a:hover, #container.victory1 #main aside#sidebar p.elect-cta-jump a:hover {
  background-color: #f00001;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff5757), color-stop(100%, #f00001));
  background: -webkit-linear-gradient(#ff5757, #f00001);
  background: -moz-linear-gradient(#ff5757, #f00001);
  background: -o-linear-gradient(#ff5757, #f00001);
  background: linear-gradient(#ff5757, #f00001);
}
#container.victory1 #main aside#sidebar p.elect-donate-jump a:active, #container.victory1 #main aside#sidebar p.elect-newsletter-jump a:active, #container.victory1 #main aside#sidebar p.elect-cta-jump a:active {
  -webkit-box-shadow: #e00001 0 1px 2px inset;
  -moz-box-shadow: #e00001 0 1px 2px inset;
  box-shadow: #e00001 0 1px 2px inset;
}
#container.victory1 #main aside#sidebar p.elect-donate-jump a.disabled, #container.victory1 #main aside#sidebar p.elect-donate-jump a[disabled], #container.victory1 #main aside#sidebar p.elect-newsletter-jump a.disabled, #container.victory1 #main aside#sidebar p.elect-newsletter-jump a[disabled], #container.victory1 #main aside#sidebar p.elect-cta-jump a.disabled, #container.victory1 #main aside#sidebar p.elect-cta-jump a[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #ff0a0b;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#container.victory1 #main aside#sidebar p.elect-donate-jump a::-moz-focus-inner, #container.victory1 #main aside#sidebar p.elect-newsletter-jump a::-moz-focus-inner, #container.victory1 #main aside#sidebar p.elect-cta-jump a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
#container.victory1 footer#footer {
  background-color: white;
  color: #003366;
  border-top: 4px solid #003366;
  border-bottom: 4px solid #003366;
}
#container.victory1 footer#footer a:link {
  color: #ff0a0b;
  text-decoration: none;
}
#container.victory1 footer#footer a:visited {
  color: #ff0a0b;
  text-decoration: none;
}
#container.victory1 footer#footer a:hover {
  color: #003366;
  text-decoration: none;
}
#container.victory1 footer#footer a:active {
  color: #003366;
  position: relative;
  top: 1px;
}

#container.victory2 {
  color: #000063;
  font-family: Georgia, Times, "Times New Roman", serif;
}
#container.victory2 a:link {
  color: #5a79a5;
  text-decoration: underline;
}
#container.victory2 a:visited {
  color: #5a79a5;
  text-decoration: underline;
}
#container.victory2 a:hover {
  color: #9cafc9;
  text-decoration: none;
}
#container.victory2 a:active {
  color: #9cafc9;
  text-decoration: none;
  position: relative;
  top: 1px;
}
#container.victory2 header#header, #container.victory2 nav#primary-navigation {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #5a79a5;
}
#container.victory2 header#header a:link, #container.victory2 nav#primary-navigation a:link {
  color: #dee7ef;
  text-decoration: none;
}
#container.victory2 header#header a:visited, #container.victory2 nav#primary-navigation a:visited {
  color: #dee7ef;
  text-decoration: none;
}
#container.victory2 header#header a:hover, #container.victory2 nav#primary-navigation a:hover {
  color: #9caac6;
  text-decoration: none;
}
#container.victory2 header#header a:active, #container.victory2 nav#primary-navigation a:active {
  color: #9caac6;
  position: relative;
  top: 1px;
}
#container.victory2 nav#primary-navigation {
  border-bottom: 4px solid #000063;
}
#container.victory2 #main h1, #container.victory2 #main h2, #container.victory2 #main h3, #container.victory2 #main h4, #container.victory2 #main h5, #container.victory2 #main h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#container.victory2 #main aside#sidebar p.elect-donate-jump a, #container.victory2 #main aside#sidebar p.elect-newsletter-jump a, #container.victory2 #main aside#sidebar p.elect-cta-jump a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 0.5em 1em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF9CAFC9', endColorstr='#FF5A79A5');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9cafc9), color-stop(100%, #5a79a5));
  background: -webkit-linear-gradient(#9cafc9, #5a79a5);
  background: -moz-linear-gradient(#9cafc9, #5a79a5);
  background: -o-linear-gradient(#9cafc9, #5a79a5);
  background: linear-gradient(#9cafc9, #5a79a5);
  -webkit-box-shadow: #ced7e4 0 1px 0 inset;
  -moz-box-shadow: #ced7e4 0 1px 0 inset;
  box-shadow: #ced7e4 0 1px 0 inset;
  border: 1px solid #516d95;
  color: white;
  text-shadow: #445c7d 0 -1px 0;
  text-shadow: 1px 1px 1px #000;
}
#container.victory2 #main aside#sidebar p.elect-donate-jump a:hover, #container.victory2 #main aside#sidebar p.elect-newsletter-jump a:hover, #container.victory2 #main aside#sidebar p.elect-cta-jump a:hover {
  text-decoration: none;
}
#container.victory2 #main aside#sidebar p.elect-donate-jump a:hover, #container.victory2 #main aside#sidebar p.elect-newsletter-jump a:hover, #container.victory2 #main aside#sidebar p.elect-cta-jump a:hover {
  background-color: #516d95;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8ca1c0), color-stop(100%, #516d95));
  background: -webkit-linear-gradient(#8ca1c0, #516d95);
  background: -moz-linear-gradient(#8ca1c0, #516d95);
  background: -o-linear-gradient(#8ca1c0, #516d95);
  background: linear-gradient(#8ca1c0, #516d95);
}
#container.victory2 #main aside#sidebar p.elect-donate-jump a:active, #container.victory2 #main aside#sidebar p.elect-newsletter-jump a:active, #container.victory2 #main aside#sidebar p.elect-cta-jump a:active {
  -webkit-box-shadow: #4c668b 0 1px 2px inset;
  -moz-box-shadow: #4c668b 0 1px 2px inset;
  box-shadow: #4c668b 0 1px 2px inset;
}
#container.victory2 #main aside#sidebar p.elect-donate-jump a.disabled, #container.victory2 #main aside#sidebar p.elect-donate-jump a[disabled], #container.victory2 #main aside#sidebar p.elect-newsletter-jump a.disabled, #container.victory2 #main aside#sidebar p.elect-newsletter-jump a[disabled], #container.victory2 #main aside#sidebar p.elect-cta-jump a.disabled, #container.victory2 #main aside#sidebar p.elect-cta-jump a[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #5a79a5;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#container.victory2 #main aside#sidebar p.elect-donate-jump a::-moz-focus-inner, #container.victory2 #main aside#sidebar p.elect-newsletter-jump a::-moz-focus-inner, #container.victory2 #main aside#sidebar p.elect-cta-jump a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
#container.victory2 footer#footer {
  background-color: #dee7ef;
  color: #000063;
  border-top: 4px solid #000063;
  border-bottom: 4px solid #000063;
}
#container.victory2 footer#footer a:link {
  color: #5a79a5;
  text-decoration: none;
}
#container.victory2 footer#footer a:visited {
  color: #5a79a5;
  text-decoration: none;
}
#container.victory2 footer#footer a:hover {
  color: #000063;
  text-decoration: none;
}
#container.victory2 footer#footer a:active {
  color: #000063;
  position: relative;
  top: 1px;
}

#container.fiesta {
  color: #072b30;
  font-family: Georgia, Times, "Times New Roman", serif;
}
#container.fiesta a:link {
  color: #e12a1c;
  text-decoration: underline;
}
#container.fiesta a:visited {
  color: #e12a1c;
  text-decoration: underline;
}
#container.fiesta a:hover {
  color: #ee7e75;
  text-decoration: none;
}
#container.fiesta a:active {
  color: #ee7e75;
  text-decoration: none;
  position: relative;
  top: 1px;
}
#container.fiesta header#header, #container.fiesta nav#primary-navigation {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  background-color: #e12a1c;
}
#container.fiesta header#header a:link, #container.fiesta nav#primary-navigation a:link {
  color: #fffccf;
  text-decoration: none;
}
#container.fiesta header#header a:visited, #container.fiesta nav#primary-navigation a:visited {
  color: #fffccf;
  text-decoration: none;
}
#container.fiesta header#header a:hover, #container.fiesta nav#primary-navigation a:hover {
  color: #ffc1a8;
  text-decoration: none;
}
#container.fiesta header#header a:active, #container.fiesta nav#primary-navigation a:active {
  color: #ffc1a8;
  position: relative;
  top: 1px;
}
#container.fiesta nav#primary-navigation {
  border-bottom: 4px solid #072b30;
}
#container.fiesta #main h1, #container.fiesta #main h2, #container.fiesta #main h3, #container.fiesta #main h4, #container.fiesta #main h5, #container.fiesta #main h6 {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}
#container.fiesta #main aside#sidebar p.elect-donate-jump a, #container.fiesta #main aside#sidebar p.elect-newsletter-jump a, #container.fiesta #main aside#sidebar p.elect-cta-jump a {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  font-size: 24px;
  padding: 0.5em 1em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEE7E75', endColorstr='#FFE12A1C');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ee7e75), color-stop(100%, #e12a1c));
  background: -webkit-linear-gradient(#ee7e75, #e12a1c);
  background: -moz-linear-gradient(#ee7e75, #e12a1c);
  background: -o-linear-gradient(#ee7e75, #e12a1c);
  background: linear-gradient(#ee7e75, #e12a1c);
  -webkit-box-shadow: #f6beb9 0 1px 0 inset;
  -moz-box-shadow: #f6beb9 0 1px 0 inset;
  box-shadow: #f6beb9 0 1px 0 inset;
  border: 1px solid #ca2619;
  color: white;
  text-shadow: #ab2015 0 -1px 0;
  text-shadow: 1px 1px 1px #000;
}
#container.fiesta #main aside#sidebar p.elect-donate-jump a:hover, #container.fiesta #main aside#sidebar p.elect-newsletter-jump a:hover, #container.fiesta #main aside#sidebar p.elect-cta-jump a:hover {
  text-decoration: none;
}
#container.fiesta #main aside#sidebar p.elect-donate-jump a:hover, #container.fiesta #main aside#sidebar p.elect-newsletter-jump a:hover, #container.fiesta #main aside#sidebar p.elect-cta-jump a:hover {
  background-color: #ca2619;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb685e), color-stop(100%, #ca2619));
  background: -webkit-linear-gradient(#eb685e, #ca2619);
  background: -moz-linear-gradient(#eb685e, #ca2619);
  background: -o-linear-gradient(#eb685e, #ca2619);
  background: linear-gradient(#eb685e, #ca2619);
}
#container.fiesta #main aside#sidebar p.elect-donate-jump a:active, #container.fiesta #main aside#sidebar p.elect-newsletter-jump a:active, #container.fiesta #main aside#sidebar p.elect-cta-jump a:active {
  -webkit-box-shadow: #bd2317 0 1px 2px inset;
  -moz-box-shadow: #bd2317 0 1px 2px inset;
  box-shadow: #bd2317 0 1px 2px inset;
}
#container.fiesta #main aside#sidebar p.elect-donate-jump a.disabled, #container.fiesta #main aside#sidebar p.elect-donate-jump a[disabled], #container.fiesta #main aside#sidebar p.elect-newsletter-jump a.disabled, #container.fiesta #main aside#sidebar p.elect-newsletter-jump a[disabled], #container.fiesta #main aside#sidebar p.elect-cta-jump a.disabled, #container.fiesta #main aside#sidebar p.elect-cta-jump a[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #e12a1c;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#container.fiesta #main aside#sidebar p.elect-donate-jump a::-moz-focus-inner, #container.fiesta #main aside#sidebar p.elect-newsletter-jump a::-moz-focus-inner, #container.fiesta #main aside#sidebar p.elect-cta-jump a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
#container.fiesta footer#footer {
  background-color: #fffccf;
  color: #072b30;
  border-top: 4px solid #072b30;
  border-bottom: 4px solid #072b30;
}
#container.fiesta footer#footer a:link {
  color: #e12a1c;
  text-decoration: none;
}
#container.fiesta footer#footer a:visited {
  color: #e12a1c;
  text-decoration: none;
}
#container.fiesta footer#footer a:hover {
  color: #072b30;
  text-decoration: none;
}
#container.fiesta footer#footer a:active {
  color: #072b30;
  position: relative;
  top: 1px;
}

#container.eggplant {
  color: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#container.eggplant a:link {
  color: #3e0673;
  text-decoration: underline;
}
#container.eggplant a:visited {
  color: #3e0673;
  text-decoration: underline;
}
#container.eggplant a:hover {
  color: #720bd4;
  text-decoration: none;
}
#container.eggplant a:active {
  color: #720bd4;
  text-decoration: none;
  position: relative;
  top: 1px;
}
#container.eggplant header#header, #container.eggplant nav#primary-navigation {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  background-color: #3e0673;
}
#container.eggplant header#header a:link, #container.eggplant nav#primary-navigation a:link {
  color: #f7ffff;
  text-decoration: none;
}
#container.eggplant header#header a:visited, #container.eggplant nav#primary-navigation a:visited {
  color: #f7ffff;
  text-decoration: none;
}
#container.eggplant header#header a:hover, #container.eggplant nav#primary-navigation a:hover {
  color: #b363e8;
  text-decoration: none;
}
#container.eggplant header#header a:active, #container.eggplant nav#primary-navigation a:active {
  color: #b363e8;
  position: relative;
  top: 1px;
}
#container.eggplant nav#primary-navigation {
  border-bottom: 4px solid black;
}
#container.eggplant #main h1, #container.eggplant #main h2, #container.eggplant #main h3, #container.eggplant #main h4, #container.eggplant #main h5, #container.eggplant #main h6 {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}
#container.eggplant #main aside#sidebar p.elect-donate-jump a, #container.eggplant #main aside#sidebar p.elect-newsletter-jump a, #container.eggplant #main aside#sidebar p.elect-cta-jump a {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 24px;
  padding: 0.5em 1em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF720BD4', endColorstr='#FF3E0673');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #720bd4), color-stop(100%, #3e0673));
  background: -webkit-linear-gradient(#720bd4, #3e0673);
  background: -moz-linear-gradient(#720bd4, #3e0673);
  background: -o-linear-gradient(#720bd4, #3e0673);
  background: linear-gradient(#720bd4, #3e0673);
  -webkit-box-shadow: #9837f5 0 1px 0 inset;
  -moz-box-shadow: #9837f5 0 1px 0 inset;
  box-shadow: #9837f5 0 1px 0 inset;
  border: 1px solid #31055b;
  color: white;
  text-shadow: #1f0339 0 -1px 0;
  text-shadow: 1px 1px 1px #000;
}
#container.eggplant #main aside#sidebar p.elect-donate-jump a:hover, #container.eggplant #main aside#sidebar p.elect-newsletter-jump a:hover, #container.eggplant #main aside#sidebar p.elect-cta-jump a:hover {
  text-decoration: none;
}
#container.eggplant #main aside#sidebar p.elect-donate-jump a:hover, #container.eggplant #main aside#sidebar p.elect-newsletter-jump a:hover, #container.eggplant #main aside#sidebar p.elect-cta-jump a:hover {
  background-color: #31055b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #650abc), color-stop(100%, #31055b));
  background: -webkit-linear-gradient(#650abc, #31055b);
  background: -moz-linear-gradient(#650abc, #31055b);
  background: -o-linear-gradient(#650abc, #31055b);
  background: linear-gradient(#650abc, #31055b);
}
#container.eggplant #main aside#sidebar p.elect-donate-jump a:active, #container.eggplant #main aside#sidebar p.elect-newsletter-jump a:active, #container.eggplant #main aside#sidebar p.elect-cta-jump a:active {
  -webkit-box-shadow: #29044c 0 1px 2px inset;
  -moz-box-shadow: #29044c 0 1px 2px inset;
  box-shadow: #29044c 0 1px 2px inset;
}
#container.eggplant #main aside#sidebar p.elect-donate-jump a.disabled, #container.eggplant #main aside#sidebar p.elect-donate-jump a[disabled], #container.eggplant #main aside#sidebar p.elect-newsletter-jump a.disabled, #container.eggplant #main aside#sidebar p.elect-newsletter-jump a[disabled], #container.eggplant #main aside#sidebar p.elect-cta-jump a.disabled, #container.eggplant #main aside#sidebar p.elect-cta-jump a[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #3e0673;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#container.eggplant #main aside#sidebar p.elect-donate-jump a::-moz-focus-inner, #container.eggplant #main aside#sidebar p.elect-newsletter-jump a::-moz-focus-inner, #container.eggplant #main aside#sidebar p.elect-cta-jump a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
#container.eggplant footer#footer {
  background-color: #f7ffff;
  color: black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
#container.eggplant footer#footer a:link {
  color: #3e0673;
  text-decoration: none;
}
#container.eggplant footer#footer a:visited {
  color: #3e0673;
  text-decoration: none;
}
#container.eggplant footer#footer a:hover {
  color: black;
  text-decoration: none;
}
#container.eggplant footer#footer a:active {
  color: black;
  position: relative;
  top: 1px;
}
