// Importing Susy responsive framework
@import "susy";
// Importing Sassy Buttons extension
@import "sassy-buttons";
// Importing mixins
@import "partials/mixins";

// Grid setup
$total-columns: 4;
$column-width: 23%;
$gutter-width: 2%;
$grid-padding: 1%;
// Breakpoints
$tablet: 6;
$computer: 760px 12;

// Globals

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 { 
	margin: .5em 0;
}

h1 { font-size: 64px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

a {
	&:link { text-decoration: none; }
	&:visited { text-decoration: none; }
	&:hover { text-decoration: none; }
	&:active { position: relative; top: 1px; }
}

p {
	line-height: 1.5em;
	margin: 1em 0;
}

header#header, nav#primary-navigation, #main, footer#footer {
	@include container($total-columns, $tablet, $computer);
}

// Header
header#header {
	clear: both;
	h1 {
		margin: 0;
		padding: 20px 0;
		img {
			max-height: 300px;
			max-width: 100%;
		}
	}
}

// Primary navigation
nav#primary-navigation {
	clear: both;
	font-size: 1.5em;
	text-align: center;
	ul {
		margin: 0;
		padding: 0;
		display: block;
		line-height: 1em;
		li {
			display: block;
			white-space: nowrap;
			padding: 10px 0 0 0;
			&:last-child {
				padding: 10px 0;
			}
			a {
				//padding: 0 10px 0 2px;
				&:link { text-decoration: none !important; }
				&:visited { text-decoration: none !important; }
				&:hover { text-decoration: none !important; }
				&:active { position: relative; top: 1px; }
			}
		}
	}
}

// Main content container
#main {
	@include span-columns(5 omega,6);
	@include pad(.5,.5,6);
	margin-bottom: 40px;

	ul {
		list-style-type: square;
	}

	// Content
	article {
		header {
			p.post-meta {
				font-size: .8em;
				font-style: italic;
			}
		}
	}

	// Sidebar
	aside#sidebar {
		margin-top: 16px;
		font-size: 14px;
		text-align: justify;
		div {
			margin-bottom: 40px;
		}
		p.elect-donate-jump, p.elect-newsletter-jump {
			text-align: center;
			a {
				&:link { text-decoration: none; }
				&:visited { text-decoration: none; }
				&:hover { text-decoration: none; }
				&:active { position: relative; top: 1px; }
			}
		}
	}
}

// Footer
footer#footer {
	font-size: 12px;
	clear: both;
	display: block;
	.copyright {
		text-align: left;
		@include span-columns($total-columns / 2,$total-columns);
	}

	.credit {
		text-align: right;
		@include span-columns($total-columns / 2 omega,$total-columns);
	}
}

// Computer breakpoint
@include at-breakpoint($computer) {
	
	// Primary navigation
	nav#primary-navigation {
		clear: both;
		font-size: 1.5em;
		line-height: 2em;
		text-align: left;
		ul {
			margin: 0;
			padding: 0;
			display: inline-block;
			line-height: 1.25em;
			li {
				&:before, &:after {
					display: none;
				}
				display: inline-block;
				white-space: nowrap;
				padding: 20px 20px 0 0;
				a {
					padding: 0 10px 0 2px;
					&:link { text-decoration: none !important; }
					&:visited { text-decoration: none !important; }
					&:hover { text-decoration: none !important; }
					&:active { position: relative; top: 1px; }
				}
			}
		}
	}

	#main {
		@include reset-columns;
	}

	// Content, left side
	#container.sideright #main article {
		@include span-columns(7.5,12);
		@include prefix(.5);
	}

	// Sidebar, right side
	#container.sideright #main aside#sidebar {
		@include prefix(.5);
		@include suffix(.5);
		@include span-columns(3 omega,12);
		text-align: center;
	}

	// Content, right side
	#container.sideleft #main article {
		@include span-columns(7.5 omega, 12);
		@include suffix(.5)
	}

	// Sidebar, left side
	#container.sideleft #main aside#sidebar {
		@include span-columns(3,12);
		@include prefix(.5);
		@include suffix(.5);
		text-align: center;
	}


	footer#footer {
		.copyright {
			@include span-columns(6,12);
		}

		.credit {
			@include span-columns(6 omega,12);
		}
	}
}

// Importing palettes
@import "partials/palette";