$black: #000;
$white: #fff;
$dark: #333;
$light: #eee;

// Terra Cotta (Bill Raines)
#container.terracotta {
	$accent1: #ee3e41; // red
	$accent2: #ffb7a7; // salmon
	$light: #f4ffff; // off-white
	$dark: #060054; // dark blue
	$midtone: #cfcfcf; // gray
	$display: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	$body: Georgia, Times, "Times New Roman", serif;

	@include elect-style;
}

// Greenleaf (Mike Otto)
#container.greenleaf {
	$accent1: #418a26; // green
	$accent2: #010549; // dark blue
	$light: #f9f9f9; // off-white
	$dark: #323449; // slate gray
	$midtone: #e6e6e6; // light gray
	$display: "Helvetica Neue", Helvetica, Arial, sans-serif;
	$body: Georgia, Times, "Times New Roman", serif;

	@include elect-style;
}