$black: #000;
$white: #fff;
$dark: #333;
$light: #eee;

// Terracotta (Bill Raines)
#container.terracotta {
	$accent1: #ee3e41; // red
	$accent2: #ffb7a7; // salmon
	$light: #f4ffff; // off-white
	$dark: #060054; // dark blue
	$midtone: #cfcfcf; // gray
	$display: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	$body: Georgia, Times, "Times New Roman", serif;

	@include elect-style;
}

// Greenleaf (Mike Otto)
#container.greenleaf {
	$accent1: #323449; // midtone blue
	$accent2: #010549; // dark blue
	$light: #f9f9f9; // off-white
	$dark: #323449; // slate gray
	$midtone: #e6e6e6; // light gray
	$display: "Helvetica Neue", Helvetica, Arial, sans-serif;
	$body: Georgia, Times, "Times New Roman", serif;

	@include elect-style;
}

// Victory
#container.victory1 {
	$accent1: #FF0A0B; // red
	$accent2: #F7F7BA; // beige
	$light: #FFFFFF; // off-white
	$dark: #003366; // blue
	$midtone: #CCCCCC; // grey
	$display: "Helvetica Neue", Helvetica, Arial, sans-serif;
	$body: Georgia, Times, "Times New Roman", serif;

	@include elect-style;
}

// Victory 2
#container.victory2 {
	$accent1: #5A79A5; // mid blue
	$accent2: #9CAAC6; // grey
	$light: #DEE7EF; // off-white
	$dark: #000063; // blue
	$midtone: #CE0000; // red
	$display: "Helvetica Neue", Helvetica, Arial, sans-serif;
	$body: Georgia, Times, "Times New Roman", serif;

	@include elect-style;
}

// Fiesta
#container.fiesta {
	$accent1: #E12A1C; // red
	$accent2: #FFC1A8; // peach
	$light: #FFFCCF; // beigeish
	$dark: #072B30; // dark teal
	$midtone: #F7FFFF; // off-white
	$display: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	$body: Georgia, Times, "Times New Roman", serif;

	@include elect-style;
}

// Eggplant
#container.eggplant {
	$accent1: #3E0673; // dark purple
	$accent2: #B363E8; // mid purple
	$light: #F7FFFF; // off-white
	$dark: #000000; // black
	$midtone: #FFB10D; // mustard
	$display: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	$body: Arial, "Helvetica Neue", Helvetica, sans-serif;

	@include elect-style;
}